:root {
  /* COLOR */
  --black: rgb(0, 0, 0);
  --blue: rgb(1, 115, 207);
  --green: rgb(0, 181, 81);
  --orange: rgb(255, 119, 0);
  --red: rgb(207, 1, 1);
  --white: rgb(255, 255, 255);
  --yellow: rgb(254, 200, 23);
}
